
<%= simple_form_for(@atividade) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :descricao %>
		<%= f.label :modalidade %>
		<br/>
		<%= f.select :modalidade_id, options_for_select(Modalidade.all.map{|m|[m.titulo, m.id]},f.object.modalidade_id) %>
		<br/><br/>
		
		<%= f.label :aluno %>
		<br/>
		<% if current_user.tipo != "Aluno"%>
			<%= f.select :aluno_id, options_for_select(Usuario.where(tipo: 'Aluno').map{|a|[a.nome, a.id]}, f.object.aluno_id) %>
		<% else %>
			<%= f.select :aluno_id, options_for_select(Usuario.where(id: current_user.id).map{|a|[a.nome, a.id]},f.object.aluno_id) %>
		<% end %>
		<br/><br/>
    
		<%= f.input :horas_req , :input_html => {:style => "width: 100px;"} %>
		
		<% if current_user.tipo == "Aluno"%>
    	<%= f.input :horas_jul , disabled: true ,:input_html => {:style => "width: 100px;"}%>
		<% else %>	
    	<%= f.input :horas_jul , disabled: false ,:input_html => {:style => "width: 100px;"}%>
		<% end %>	
    
  	<p>
    	<label>Anexo:</label>
			<%= link_to @atividade.anexo, '/ativ/'+@atividade.anexo_url, class: "glyphicon glyphicon-paperclip", target: '_blank'  if @atividade.anexo? %>
			<%= f.file_field :anexo, label: 'Anexo' , input_html: {accept: ('application/pdf') } %>
			<%= f.hidden_field :anexo_cache %>
		</p>
		<br/>
		
		<%= f.label :julgador %>
		<% if current_user.tipo == "Administrador"%>
			<br/>
			<%= f.select :julgador_id, options_for_select(Usuario.where(" tipo <> 'Aluno'").map{|j|[j.nome, j.id]},f.object.julgador_id) %>
			<br/>
		<% else %>
			<br/>
			<%= f.select :julgador_id, options_for_select(Usuario.where(" tipo <> 'Aluno'").map{|j|[j.nome, j.id]},f.object.julgador_id) %>
			<br/>
		<% end%>
		<br/>
		
  </div>

  <div class="form-actions">
		<%= f.submit 'Salvar', :class => 'btn btn-primary' %>
		<%= link_to ' Voltar', atividades_path ,  class: "btn btn-default "%>
  </div>
<% end %>
